body {
  zoom: 100%;
}

.home-gif {
  height: 80px;
  width: 230px;
  display: flex;
  flex: 1;
  margin-right: auto;
  margin-left: auto;
}

.meow-gif {
  width: 200px;
  cursor: grab;
}

.mycats-gif {
  position: absolute;
  transform: translate(420px, -30px) rotate(10deg);
  width: 150px;
}

.mycats-caption {
  color: rgb(240, 20, 156);
  position: absolute;
  transform: translate(460px, 115px) rotate(10deg);
  font-family: neon;
  font-weight: bold;
}

.l-top-text {
  border-style: solid;
  border-color: rgb(0, 132, 255);
  width: 600px;
  font-family: comica;
}

.l-mid-text {
  border-style: solid;
  border-color: rgb(0, 132, 255);
  width: 600px;
  font-family: comica;
  padding-top: 30px;
}

.l-bottom-text {
  border-style:dashed;
  border-color: rgb(0, 132, 255);
  width: 600px;
  font-family: comica;
}


.left-side {
  float: left;
}

.middle {
  float: inline-start;
}

.right-side {
  float: inline-end;
}

.middle-bottom-text {
  border-style:dashed;
  border-color: rgb(255, 0, 238);
  width: 280px;
  height: 99px;
  font-family: comica;
  display: inline-block;
  transform: translate( -3px, 500px);
}
.middle-bottom-text p { 
  margin: 0;
}


.r-top-text {
  border-style: double;
  border-width: 10px;
  border-color: rgb(146, 146, 146);
  width: 350px;
  height: auto;
  font-family: comica;
}

.r-portal {
  border-style: solid;
  border-width: 10px;
  border-top-color: #16DB93;
  border-bottom-color: #A4036F;
  border-left-color: #EFEA5A;
  border-right-color: #FE5E41;
}