.span-giga {
  font-family: giga;
  font-size: xx-large;
}

.span-bubble {
  font-family: bubble3d;
  font-size: xx-large
}

.span-neon {
  font-family: neon_2;
  font-size: xx-large;
}

.span-spooky {
  font-family: spooky;
  font-size: xxx-large;
  color: red;
}